/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

td.leading-column {
    width: 100px;
}

tr.size-name td {
    background-color: #bbc7ea;
    border-bottom: 1pt solid black;
}

div.challenge-desc {
    float: left;
    padding: 20px;
    width: 50%;
    max-height: 700px;
    overflow-y: auto;
}

div.challenge-solution {
    float: left;
    padding: 20px;
    width: 50%;
    max-height: 700px;
    overflow-y: auto;
}